.task {
  padding: 6px 25px;
  margin: 10px auto;
  min-width: 150px;
  width: 300px;
  height: 20px;
  overflow: hidden;
  transition: 0.3s height ease-in-out;
  position: relative;
  border-radius: 6px;
  &.extend {
    height: 65px;
  }

  .close {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
    transition: 0.3s color ease-in-out;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }

  .task-name {
    font-size: 18px;
    padding-top: 2px;
    margin-bottom: 1vh;
    pointer-events: none;
  }
  .descripption-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    .auther-task {
    }
    .date-task {
    }
    .status-task {
      width: 100px;
      .status-state {
        cursor: pointer;
        transition: color 0.3s ease-in-out;
      }
    }
  }
}

.odd {
  background-color: var(--c-dark-blue);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  .status-task {
    .status-state {
      color: var(--c-silver);
    }
  }
}

.even {
  background-color: var(--c-silver);
  border: 1px solid var(--c-dark-blue);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 10px;
  .status-task {
    .status-state {
      color: var(--c-dark-blue);
    }
  }
}
