<section
  *ngFor="let task of shownList; let i = index"
  class="task"
  [ngClass]="i % 2 == 1 ? 'even' : 'odd'"
  (click)="expand($event)"
>
  <div [attr.taskId]="task.id" class="close" (click)="deleteTask($event)">
    X
  </div>
  <div class="task-name">{{ task.task }}</div>
  <div class="descripption-task">
    <div class="auther-task">author: {{ task.author }}</div>
    <div class="date-task">date: {{ task.date }}</div>
    <div class="status-task">
      status:
      <span class="status-state" (click)="taskDone($event)">{{
        task.status
      }}</span>
    </div>
  </div>
</section>
