<div
  class="main-menu"
  [ngClass]="menuAfterInitDone ? 'inMenu' : ''"
  appClickOutside
>
  <div class="wrap-list">
    <ul class="list">
      <li
        class="action"
        *ngFor="let homeAction of homeData?.actions; let i = index"
        (click)="showMeasures($event)"
        [attr.id]="i"
      >
        <span>{{ homeAction["title"] }}</span>
      </li>
    </ul>
  </div>
</div>
<app-measurements
  *ngIf="measureDataToShow"
  [measureData]="measureData"
  (exitFromMeasure)="returnToMenu()"
></app-measurements>
