<div
  class="main-menu"
  [ngClass]="menuAfterInitDone ? 'inMenu' : ''"
  appClickOutside
>
  <div class="wrap-list" *ngIf="!menuSettingEdit; else settings">
    <ul class="list">
      <li
        class="action"
        *ngFor="let homeAction of homeData?.actions; let i = index"
        (click)="showMeasures($event)"
        [attr.id]="i"
      >
        <span>{{ homeAction["title"] | toDotLimit : 8 }}</span>
      </li>
    </ul>
  </div>
</div>
<div
  class="last-measurement-result"
  *ngIf="lastMeasurement[0]?.topic && !measureDataToShow; else explaination"
>
  <h2>last measurment:</h2>
  {{ lastMeasurement[0]?.topic }}, Measured from:
  {{ lastMeasurement[0]?.measureFrom }}
  <span *ngIf="lastMeasurement[0]?.Density"
    >With Density of: {{ lastMeasurement[0]?.Density }}</span
  >
  <span
    class="moreInfo"
    *ngIf="!showResults; else results"
    (click)="showLastResults()"
    >click to see results...</span
  >
  <ng-template #results>
    <div class="last-results">
      <div class="result" *ngFor="let result of lastMeasurement">
        {{ result?.measureTo }}: {{ result?.tmpValue }}
      </div>
    </div>
    <div class="close moreInfo" (click)="showLastResults()">Close Result</div>
  </ng-template>
</div>

<ng-template #settings>
  <div class="settings">
    <div class="msg-line">
      <span>This selection with save automatically on you return to menu</span>
    </div>
    <div class="exit-sign">
      <span (click)="exitToMenu()">< Return to Menu</span>
    </div>
    <div
      class="action"
      *ngFor="let homeAction of homeData?.actions; let i = index"
    >
      <div class="span-text">
        <span>{{ homeAction["title"] }}</span>
      </div>
      <div class="measures">
        <li
          *ngFor="
            let actionMeasure of homeAction['measurements'];
            let i = index
          "
          [class]="actionMeasure"
          (click)="addRemove($event, homeAction['title'], actionMeasure, i)"
        >
          <span>{{ actionMeasure }}</span>
        </li>
      </div>
    </div>
    <div class="exit">
      <span (click)="exitToMenu()">Return to Menu</span>
    </div>
  </div>
</ng-template>
<ng-template #explaination>
  <div class="last-explaination" *ngIf="!measureDataToShow">
    <figure class="explaination">
      <p>Once you've taken your last measurement, voila!</p>
      <p>
        A window magically appears with your latest measurement like a digital
        crystal ball.
      </p>
      <p>
        It's like having your very own measuring genie granting your accuracy
        wishes!
      </p>
      <p>Need more guidance or just want to chat?</p>
      <p>
        Don't hesitate to reach out—we're here to make your measuring experience
        as enchanting as possible!
      </p>
    </figure>
  </div>
</ng-template>

<app-measurements
  *ngIf="measureDataToShow"
  [measureData]="measureData"
  [desityData]="selectedDesityList[0]?.desity"
  (exitFromMeasure)="returnToMenu()"
></app-measurements>
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4086762240008321"
  crossorigin="anonymous"
></script>
<!-- bodyAdUnit -->
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-client="ca-pub-4086762240008321"
  data-ad-slot="7397064355"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="last-explaination" *ngIf="!measureDataToShow">
  <figure class="about-us">
    <p>
      Welcome to the ultimate measurements app that's as essential as your
      morning coffee!
    </p>
    <p>
      Our app transforms tricky conversions like liters to grams with the grace
      of a math wizard using nifty density tricks.
    </p>
    <p>
      But wait, there's more! Stay on top of your day with our one-of-a-kind
      to-do list feature that keeps chaos at bay.
    </p>
    <p>
      And when hunger strikes or creativity beckons, dive into our recipe book
      bursting with culinary delights and DIY inspirations.
    </p>
    <p>
      Whether you're a kitchen superhero or a lab coat aficionado, our app is
      your trusty sidekick for nailing measurements and staying organized with a
      sprinkle of fun!
    </p>
  </figure>
</div>
