<div
  class="main-menu"
  [ngClass]="menuAfterInitDone ? 'inMenu' : ''"
  appClickOutside
>
  <div class="wrap-list" *ngIf="!menuSettingEdit; else settings">
    <ul class="list">
      <li
        class="action"
        *ngFor="let homeAction of homeData?.actions; let i = index"
        (click)="showMeasures($event)"
        [attr.id]="i"
      >
        <span>{{ homeAction["title"] | toDotLimit : 8 }}</span>
      </li>
    </ul>
  </div>
</div>
<div class="last-measurement-result" *ngIf="lastMeasurement[0]?.topic && !measureDataToShow">
  <h2>last measurment:</h2>
   {{lastMeasurement[0]?.topic}}, Measured from: {{lastMeasurement[0]?.measureFrom}}
  <span *ngIf="lastMeasurement[0]?.Density">With Density of: {{lastMeasurement[0]?.Density}}</span>
  <span class="moreInfo" *ngIf="!showResults; else results" (click)="showLastResults()">click to see results...</span>
  <ng-template #results>
    <div class="last-results" >
      <div class="result" *ngFor="let result of lastMeasurement">
        {{result?.measureTo}}: {{result?.tmpValue}}
      </div>
    </div>
  </ng-template>
</div>

<ng-template #settings>
  <div class="settings">
    <div class="msg-line">
      <span>This selection with save automatically on you return to menu</span>
    </div>
    <div class="exit-sign">
      <span (click)="exitToMenu()">< Return to Menu</span>
    </div>
    <div
      class="action"
      *ngFor="let homeAction of homeData?.actions; let i = index"
    >
      <div class="span-text">
        <span>{{ homeAction["title"] }}</span>
      </div>
      <div class="measures">
        <li
          *ngFor="
            let actionMeasure of homeAction['measurements'];
            let i = index
          "
          [class]="actionMeasure"
          (click)="addRemove($event, homeAction['title'], actionMeasure, i)"
        >
          <span>{{ actionMeasure }}</span>
        </li>
      </div>
    </div>
    <div class="exit">
      <span (click)="exitToMenu()">Return to Menu</span>
    </div>
  </div>
</ng-template>
<app-measurements
  *ngIf="measureDataToShow"
  [measureData]="measureData"
  [desityData]="selectedDesityList[0]?.desity"
  (exitFromMeasure)="returnToMenu()"
></app-measurements>
