<section class="home">
  <div class="wrap">
    <div class="title">
      <h1>Login</h1>
    </div>
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input
        class="i-name"
        id="usenName"
        type="email"
        formControlName="usenName"
        placeholder=" "
        autocomplete="current-password"
      />
      <label class="l-name" for="usenName">Email :</label>

      <input
        class="i-pass"
        id="password"
        type="password"
        formControlName="password"
        placeholder=" "
        autocomplete="current-password"
      />
      <label class="l-pass" for="password">Password: </label>

      <button type="submit" [disabled]="loginForm.status == 'INVALID'">
        Enter
      </button>
    </form>

    <div class="coming-soon">
      <span>{{ errorMsg }}</span>
      <button [disabled]="loginForm.status == 'INVALID'" (click)="register()">
        Register With this Mail
      </button>
    </div>
  </div>
</section>
