.header {
  position: sticky;
  top: 0px;
  z-index: 999999;

  background-color: var(--c-grey);
  color: var(--c-dark-blue);

  padding: 18px 35px;
  font-size: 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0em 0 1em var(--c-blue);

  .left {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10vw;

    .burger {
      display: flex;
      flex-direction: column;
      gap: 0.5vh;

      .line {
        height: 1px;
        width: 15px;
        background-color: var(--c-dark-blue);
        transition: 0.5s all;
      }
      &.open {
        :nth-last-child(1) {
          width: 0;
          position: absolute;
        }
        :nth-last-child(2) {
          transform: rotate(-45deg);
          margin-top: -5.6px;
          height: 2px;
        }
        :nth-last-child(3) {
          transform: rotate(45deg);
          height: 2px;
        }
      }
    }
  }
  .right {
    display: flex;
    gap: 5vw;
  }
}
.g-trans {
  position: absolute;
  top: -150px;
  width: 100%;

  background-color: var(--c-silver);
  box-shadow: 0em 0 1em var(--c-blue);
  height: 60px;
  transition: 0.5s top;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  &.open {
    top: 60px;
  }
  #google_translate_element {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }
}
