<section
  class="header"
  [style.--gtransIcon]="innerHeaderData?.gtransIcon"
  [style.--accIcon]="innerHeaderData?.accIcon"
  appClickOutside
>
  <div class="right">
    <img
      src="{{ innerHeaderData?.gtransIcon }}"
      class="translate"
      (click)="openTrans()"
      [ngClass]="isOpenTrans ? 'open' : ''"
    />
    <img
      src="{{ innerHeaderData?.accIcon }}"
      class="acc"
      [ngClass]="isOpenAcc ? 'open' : ''"
      (click)="openAcc()"
    />
    <div class="logo">
      <img src="{{ innerHeaderData?.logoIcon }}" alt="" />
    </div>
  </div>
  <div class="left">
    <div
      class="burger"
      [ngClass]="isOpenMenu ? 'open' : ''"
      (click)="openMenu()"
    >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</section>

<div class="g-trans" [ngClass]="isOpenTrans ? 'open' : ''" appClickOutside>
  <div id="google_translate_element"></div>
</div>

<div
  class="menu-container"
  [ngClass]="isOpenMenu ? 'open' : ''"
  appClickOutside
>
  <div class="options-list">
    <ul class="list">
      <h1 class="list-title" *ngIf="isAfterLogin">Applications</h1>
      <li
        (click)="close('measurements')"
        class="list-item"
        *ngIf="isAfterLogin"
      >
        Measurements
      </li>
      <li (click)="close('recipies')" class="list-item" *ngIf="isAfterLogin">
        My Recipies Book
      </li>
      <li (click)="close('lists')" class="list-item" *ngIf="isAfterLogin">
        Todo List
      </li>
      <h1 class="list-title" *ngIf="isAfterLogin">General</h1>
      <li (click)="close('menu')" class="list-item" *ngIf="isAfterLogin">
        Add/Remove Measurements
      </li>
      <h1 class="list-title">Policies</h1>
      <li (click)="close('policy')" class="list-item">Privacy Policy</li>
    </ul>
  </div>
</div>
