<section
  class="header"
  [style.--gtransIcon]="innerHeaderData?.gtransIcon"
  [style.--accIcon]="innerHeaderData?.accIcon"
  appClickOutside
>
  <div class="right">
    <img
      src="{{ innerHeaderData?.gtransIcon }}"
      class="translate"
      (click)="openTrans()"
      [ngClass]="isOpenTrans ? 'open' : ''"
    />
    <img
      src="{{ innerHeaderData?.accIcon }}"
      class="acc"
      [ngClass]="isOpenAcc ? 'open' : ''"
      (click)="openAcc()"
    />
  </div>
  <div class="left">
    <div class="logo">
      <img src="{{ innerHeaderData?.logoIcon }}" alt="" />
    </div>

    <div
      class="burger"
      [ngClass]="isOpenMenu ? 'open' : ''"
      (click)="openMenu()"
    >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</section>

<div class="g-trans" [ngClass]="isOpenTrans ? 'open' : ''" appClickOutside>
  <div id="google_translate_element"></div>
</div>

<div
  class="menu-container"
  [ngClass]="isOpenMenu ? 'open' : ''"
  appClickOutside
>
  <div class="options-list">
    <ul class="list">
      <h1 class="list-title">General</h1>
      <li (click)="close('menu')" class="list-item">Add/Remove Measurements</li>
    </ul>
  </div>
</div>
