<user-header></user-header>
<!-- bodyAdUnit -->
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-client="ca-pub-4086762240008321"
  data-ad-slot="7397064355"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- END bodyAdUnit -->
<section>
  <task-list></task-list>
</section>
<!-- bodyAdUnit -->
<ins
  class="adsbygoogle"
  style="display: block"
  data-ad-client="ca-pub-4086762240008321"
  data-ad-slot="7397064355"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- END bodyAdUnit -->
<main-footer></main-footer>

<app-add-task-popup></app-add-task-popup>
