<section appClickOutside>
  <div class="titleAction" id="titleAction">
    {{ measureData[0]["title"] | uppercase }}
    <button (click)="onClose()">Exit</button>
    <form
      class="measureInput"
      [formGroup]="measureForm"
      (ngSubmit)="onSubmit()"
    >
      <input
        class="i-number"
        id="measureNum"
        type="tel"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        formControlName="measureNum"
        placeholder=" "
        autocomplete="off"
      />
      <label class="l-number" for="measureNum">Amount:</label>
      <select
        class="s-measur"
        id="measurment"
        type="select"
        formControlName="measurment"
        placeholder=" "
        (change)="onSubmitChage()"
      >
        <option
          *ngFor="let info of measureData[0].measurements"
          value="{{ info }}"
        >
          {{ info }}
        </option>
      </select>
    </form>
  </div>
  <div class="listAction">
    <ul class="infoList" [ngClass]="isCompReady ? 'show' : 'hide'">
      <li class="infoItem" *ngFor="let info of measurmentsListFiltred">
        {{ info | uppercase }}: <br /><br />
        <div style="color: var(--c-grey)">
          {{
            amountMeasure
              | measurments
                : measureData[0]["title"]
                : optionValueSelected
                : info
          }}
        </div>
      </li>
    </ul>
  </div>
</section>
