.titleAction {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 30px 0;

  background-color: var(--c-blue);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  border-bottom: 15px solid var(--c-grey);
  border-left: 15px solid var(--c-grey);
  border-right: 15px solid var(--c-grey);

  box-shadow: inset 0em 0 1em var(--c-dark);

  font-size: 38px;
  font-weight: 600;

  button {
    position: absolute;
    text-decoration: none;
    font-weight: 600;
    right: 1em;
    top: 0.5em;
    border: 0 transparent;
    background-color: transparent;
  }
}
@supports (-webkit-touch-callout: none) {
  button {
    text-decoration: none;
    color: black;
  }
}

.measureInput {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .amount {
    height: 30px;
    .i-number {
      background-color: transparent;
      width: 10em;
      height: 100%;
      padding-left: 0.5em;
      border: 1px solid black;
      border-right: 0;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    .l-number {
      top: 1.3rem;
      left: 0.6rem;
      position: absolute;
      font-size: 14px;
      font-weight: 300;
      transition: 0.5s all;
    }
    .i-number:focus + .l-number,
    .i-number:not(:placeholder-shown) + .l-number {
      top: 0.7em;
      padding: 0 2px;
      background-color: var(--c-blue);
      font-size: 12px;
    }
    .s-measur {
      background-color: var(--c-grey);
      border: 1px solid black;
      border-left: 0;
      height: 110%;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      box-shadow: inset 0em 0 1em var(--c-blue);
      color: var(--c-blue);
      transition: 0.5s all;
    }
  }
}
.density {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  .s-density {
    background-color: var(--c-grey);
    border: 1px solid black;
    border-left: 0;
    border-radius: 30px;
    height: 30px;
    box-shadow: inset 0em 0 1em var(--c-blue);
    color: var(--c-blue);
    transition: 0.5s all;
  }
}
.listAction {
  position: relative;
  margin: 1em 2em;

  .infoList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2em;
    justify-items: flex-start;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--c-dark-blue);

    &.show {
      transition: 0.5s opacity;
      opacity: 1;
    }
    &.hide {
      transition: 0.5s opacity;
      opacity: 0;
    }
  }
  .infoItem {
    width: 7em;

    div {
      color: var(--c-grey);
      margin-top: 5px;
    }
  }
}
.textDensity {
  margin: 1em auto 0 auto;
  font-size: 12px;
  width: 85%;
  text-align: center;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--c-blue);
  border-radius: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--c-dark-blue);
  border-radius: 15px;
}
