<div class="scroll-bar">
  <!-- <div class="scroll-arrows left">
    <button class="btn-scroll back" (click)="moveAround(50)">
      {{ "←" }}
    </button>
  </div> -->

  <section class="list-menu" #ListId>
    <div
      *ngFor="let list of listId; let i = index"
      class="list"
      [ngClass]="getSelectedListId() == +list.id ? 'selected' : ''"
      (click)="selectListId($event)"
      [attr.listId]="list.id"
    >
      {{ list.name }}
    </div>
  </section>
  <div
    *ngIf="getSelectedListId()"
    class="add-section"
    [ngClass]="{ 'new-add': addActive }"
  >
    <input
      type="text"
      class="add-list-input"
      [ngClass]="{ 'new-add': addActive }"
      #addInput
    />
    <div (click)="addListId($event)" class="add-list">
      {{ addActive ? "Ok" : "Add List" }}
    </div>
    <div (click)="deleteList($event)" class="add-list">
      {{ "Remove List" }}
    </div>
  </div>

  <!-- <div class="scroll-arrows right">
    <button class="btn-scroll forward" (click)="moveAround(-50)">
      {{ "→" }}
    </button>
  </div> -->
</div>
<task class="tasks"></task>
<div class="end-line"></div>
