<section class="meal-deatails">
  <img src="{{ recipie?.strMealThumb }}" alt="meak-pic" />
  <div class="title">{{ recipie?.strMeal }}</div>
  <!-- bodyAdUnit -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-4086762240008321"
    data-ad-slot="7397064355"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- END bodyAdUnit -->
  <div class="meal-cook-wrapper">
    <div
      class="meal-instructors"
      [innerHTML]="recipie?.strInstructions | toOrder"
    ></div>

    <ul class="ingredients">
      <li class="ingredien" *ngIf="recipie?.strIngredient1">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient1 }}</div>
          <div class="amont">{{ recipie?.strMeasure1 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure1, recipie?.strIngredient1)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient2">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient2 }}</div>
          <div class="amont">{{ recipie?.strMeasure2 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure2, recipie?.strIngredient2)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient3">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient3 }}</div>
          <div class="amont">{{ recipie?.strMeasure3 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure3, recipie?.strIngredient3)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient4">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient4 }}</div>
          <div class="amont">{{ recipie?.strMeasure4 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure4, recipie?.strIngredient4)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient5">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient5 }}</div>
          <div class="amont">{{ recipie?.strMeasure5 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure5, recipie?.strIngredient5)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient6">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient6 }}</div>
          <div class="amont">{{ recipie?.strMeasure6 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure6, recipie?.strIngredient6)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient7">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient7 }}</div>
          <div class="amont">{{ recipie?.strMeasure7 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure7, recipie?.strIngredient7)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient8">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient8 }}</div>
          <div class="amont">{{ recipie?.strMeasure8 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure8, recipie?.strIngredient8)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient9">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient9 }}</div>
          <div class="amont">{{ recipie?.strMeasure9 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure9, recipie?.strIngredient9)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient10">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient10 }}</div>
          <div class="amont">{{ recipie?.strMeasure10 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure10, recipie?.strIngredient10)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient11">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient11 }}</div>
          <div class="amont">{{ recipie?.strMeasure11 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure11, recipie?.strIngredient11)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient12">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient12 }}</div>
          <div class="amont">{{ recipie?.strMeasure12 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure12, recipie?.strIngredient12)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient13">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient13 }}</div>
          <div class="amont">{{ recipie?.strMeasure13 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure13, recipie?.strIngredient13)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient14">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient14 }}</div>
          <div class="amont">{{ recipie?.strMeasure14 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure14, recipie?.strIngredient14)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient15">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient15 }}</div>
          <div class="amont">{{ recipie?.strMeasure15 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure15, recipie?.strIngredient15)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient16">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient16 }}</div>
          <div class="amont">{{ recipie?.strMeasure16 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure16, recipie?.strIngredient16)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient17">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient17 }}</div>
          <div class="amont">{{ recipie?.strMeasure17 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure17, recipie?.strIngredient17)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient18">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient18 }}</div>
          <div class="amont">{{ recipie?.strMeasure18 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure18, recipie?.strIngredient18)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient19">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient19 }}</div>
          <div class="amont">{{ recipie?.strMeasure19 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure19, recipie?.strIngredient19)"
        >
          +
        </div>
      </li>
      <li class="ingredien" *ngIf="recipie?.strIngredient20">
        <div class="ingredien-info">
          <div class="name">{{ recipie?.strIngredient20 }}</div>
          <div class="amont">{{ recipie?.strMeasure20 }}</div>
        </div>
        <div
          class="ingredien-add"
          (click)="addIng(recipie?.strMeasure20, recipie?.strIngredient20)"
        >
          +
        </div>
      </li>
    </ul>
  </div>
  <!-- bodyAdUnit -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-4086762240008321"
    data-ad-slot="7397064355"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- END bodyAdUnit -->
</section>
