section {
  display: flex;
  background-color: var(--c-grey);
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  padding: 15px 25px;
  max-width: 440px;
  color: var(--c-dark-blue);
  justify-content: space-around;

  .tab {
    text-align: left;
    width: 49%;
    h2 {
      font-size: 22px;
      margin-bottom: 15px;
    }
    .list {
      .list-item {
        margin: 15px 10px;
        a {
          text-decoration: none;
          color: var(--c-dark-blue);
        }
      }
    }
  }
}
